.extension{
    width: 100%;
    // height: 100vh;
    @include padding-top;
    padding-bottom: $s-900;
    @include flex(column, center, center);
    gap:  clamp(4rem, 9vw, 6.4rem) 0;
    @media screen and (min-width:1024px) and (orientation: landscape){
        gap: 4.8rem 0;
    }
}
.extension__text-block{
    @include flex(column, flex-start, center);
    gap: 1.6rem 0; 
    text-align: center;
    max-width: 54.1rem;
}
.extension__title{
    color: $blue-950;
    @include text-preset-2;    
}
.extension__description{
    color: $blue-950;
    opacity: 50%;
    @include text-preset-4;
}

.extension__card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    max-width: 90rem;
    width: 100%;
    gap: 4rem 3.2rem; 
    @media screen and (min-width:450px) and (max-width:1024px) and (orientation: portrait){
        gap: .8rem; 
    }
    @media screen and (min-width:1024px) and (orientation: landscape){
        height: 45rem;
    }
}
.card{
    height: min-content;
    background-color: $white;
    padding: 3.2rem 2.4rem;
    box-shadow: 0 1rem 2rem -.5rem $grey-shadow;

    @include flex(column, flex-start, center);
    gap: 2.4rem 0;
    @media screen and (min-width:450px) and (max-width:1024px) and (orientation: portrait){
        gap: 1.8rem 0;
        padding: 2.4rem .8rem;
    }
    @media screen and (min-width:1024px) and (orientation: landscape){
        &:nth-child(1){ align-self: start }
        &:nth-child(2){ align-self: center }
        &:nth-child(3){ align-self: end }
    }
}
.card__content{
    @include flex(column, flex-start, center);
    gap: 3.2rem 0;
    @media screen and (min-width:450px) and (max-width:1024px) and (orientation: portrait){
        gap: 1.6rem 0;
    }
}
.card__img{
    height: 10rem;
    @media screen and (min-width:450px) and (max-width:1024px) and (orientation: portrait){
        height: 7.1rem;
    }
    & img{
        height: 100%;
    }
}
.card__text-block{
    @include flex(column, flex-start, center);
    gap: .8rem 0;
}
.card__name{
    color: $blue-950;
    @include text-preset-3;
    & .card__name-var{
        text-transform: capitalize;
    }
}
.card__version{
    color: $blue-950;
    opacity: 50%;
    @include text-preset-6($medium);
    @media screen and (max-width:450px){
        @include text-preset-2-mobile($regular);
    }
}
.card__dots-line{
    background-image: url(bg-dots.svg);
    background-position: center;
    width: 100%;
    height: .4rem;
}