.post-enter {
    opacity: 0;
}
.post-exit{
    opacity: 1;
}
.post-enter-active {
  transition: all 300ms ease-in;
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
  transition: all 300ms ease-in;
}



.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
}
.modal-exit{
    opacity: 1;
}
.modal-exit-active {
  opacity: 0;
}
.modal-exit-done {
  opacity: 0;
}
.modal-exit-active, .modal-enter-active {
  transition: all 300ms ease;
}